{% extends 'layout.html' %}

{% block content%}

<section class="my-5 open_sans">
    <div class="container py-5">
        <div class="row my-5">
            <div class="col-6">
                <h1><i class="fas fa-door-open"></i></h1>
                <h2>Login to your account</h2>
                <p>We will provide you statistics and all the associated informations</p>

                <a href="#"><i class="far fa-frown-open"> Forgot my password</i></a>
                <p class="small">If you forgot your password click the link above</p>
                <a href="#"><i class="far fa-sad-tear"> Someone hacked my account</i></a>
                <p class="small">If you think your account is hacked, click the link above</p>
                <br>
                <h5>Don't have account?</h5>
                <a href="{{ url_for('register') }}">Create an account</a>

            </div>
            <div class="col-6 border p-5 shadow">
                <form method="POST" action="{{ url_for('login')}}">
                    {{ login_form.csrf_token }}
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    {{login_form.EmailAddress(class='form-control')}}
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    {{login_form.Password(class='form-control')}}
                  </div>
                  <div class="form-group form-check">
                    {{login_form.Remember(class='form-check-input')}}
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                  </div>
                  <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>

    </div>
</section>

{% endblock %}
